{% extends "base.html" %}

{% block content %}
    <h1 class = 'header'>Blog Posts</h1>
    <br><br>
    
    {% if blogs|length == 0 %}
        <p>There is nothing in this blog yet</p>
    {% else %}
        {% for blog in blogs %} 
            <div>
                <h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2>
                <p>{{blog.body}}</p>
                <br>
                <p class="written_by">written by <a href="blog?user={{blog.owner.id}}">{{blog.owner.username}}</a></p>
            </div>  
            <hr>
        {% endfor %}
    {% endif %}
  

{% endblock %}