{% extends "base.html" %}

{% block content %}

<h1 class = 'header'>Login</h1>

<form  action="/login" method="POST">
    <div >
    <table class="login_form">
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" name="username" value={{username}}></td>
            <td>{% if error == "The username is required" or error == "The username is not valid" %}
                <span class="error">{{error}}</span>
                {% endif %}
            </td>
        </tr>
        <tr><td><br></td></tr>
        
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password"/></td>
            <td>{% if error == "The password is required" or error == "The password is not valid" %}
                <span class="error">{{error}}</span>
                {% endif %}
            </td>
        </tr>
        <tr><td><br></td></tr>

        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>

        
            
        
    </table>
    <p class='signup_link'>Don't have an account? <a href="/signup">Create Account</a></p>
    </div>
</form>


{% endblock %}
